hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

 .profile {
            text-align:left;
        }       
        .round-frame {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            overflow: hidden;
        }
        .round-frame img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
        a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
        }    
.social-media-icon {
	    padding: 10px 12px 9px 12px;
	    background: #222;
	    color: #fff;
	    margin: 5px;
	    border-radius: 4px;
	}
	a.social-media-icon:hover{
	    background: #fff!important;
	    color: #222!important;
	}
	.facebook{
		background:  #3c5a98!important;
	}
	.twitter{
		background: #1da1f2!important;
	}
	.pixiv{
		background: #0096fa!important;;
	}
	.instagram{
		background: #FE0094!important;;
	}
	.github{
	 background: #000000!important;;   
	}
        .round-frame {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            overflow: hidden;
	}
        .round-frame img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
        
